* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(59, 59, 59, 0);
    border-bottom: 2px solid rgba(59, 59, 59, 0);
    border-radius: 15px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#clock,
#battery,
#battery.charging, 
#battery.plugged,
#network,
#network.disconnected,
#pulseaudio,
#bluetooth,
#custom-offswitch
 {
    color: #1affff;
    border-radius: 15px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #1affff;
    }
}

#battery.critical:not(.charging) {
    color: #1affff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #595959;
    border-radius: 15px;
}

#pulseaudio.muted {
    background-color: #595959;
    color: #1affff;
    border-radius: 15px;
}

#custom-vpn {
	color: #1affff;
	border-radius: 15px;
}

#custom-vpn:hover {
	background: #595959;
	border-radius: 15px;
}
